<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.thl.demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cn.thl.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.thl.demo.demo.Activity" />
        <activity android:name="cn.thl.demo.demo.FragmentActivity" />
        <activity android:name="cn.thl.demo.demo.RecyclerView" />
        <activity android:name="cn.thl.demo.demo.WebView" />
        <activity android:name="cn.thl.demo.demo.AnyView" />
        <activity android:name="cn.thl.demo.demo.Layout" />
    </application>

</manifest>